<!-- templates/meetings.html -->
{% extends "base.html" %}
{% block title %}Meetings{% endblock %}
{% block content %}
<h2><i class="fas fa-calendar-alt"></i> Meetings</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date & Time</th>
            <th>Location</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for meeting in meetings %}
        <tr>
            <td>{{ meeting.title }}</td>
            <td>{{ meeting.date.strftime('%Y-%m-%d %I:%M %p') }}</td>
            <td>{{ meeting.location }}</td>
            <td>{{ meeting.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}